{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard | Admire</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="shortcut icon" href="img/logo1.ico"/>-->

    <!--global styles-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/components.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!-- end of global styles-->
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/c3/css/c3.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/toastr/css/toastr.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/switchery/css/switchery.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/pages/new_dashboard.css' %}" />
    <link type="text/css" rel="stylesheet" href="#" id="skin_change" />

</head>

<body class="body">
    <div class="bg-dark" id="wrap">
        <div id="top">
            <!-- .navbar -->
            <nav class="navbar navbar-static-top">
                <div class="container-fluid m-0">
                    <a class="navbar-brand float-left text-center" href="#">
                        <h4 class="text-white"><img src="{% static 'img/logow.png' %}" class="admin_img" alt="logo"> ADMIRE ADMIN</h4>
                    </a>
                    <div class="menu">
                        <span class="toggle-left" id="menu-toggle">
                        <i class="fa fa-bars text-white"></i>
                    </span>
                    </div>
                </div>

                <!-- /.container-fluid -->
            </nav>
            <!-- /.navbar -->
            <!-- /.head -->
        </div>
        <!-- /#top -->
        <div class="wrapper">
            <div id="left">
                <div class="media user-media bg-dark dker">
                    <div class="user-media-toggleHover">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="user-wrapper bg-dark">
                        <a class="user-link" href=""> 
                        <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture"
                             src="{% static 'img/admin.jpg' %}">
                        <p class="text-white user-info">Bienvenido Amigo Pro</p>
                    </a>
                    </div>
                </div>
                <!-- #menu -->
                <ul id="menu" class="bg-blue dker">
                    <li class="active">
                        <a href="#">
                        <i class="fa fa-home"></i>
                        <span class="link-title">&nbsp;Dashboard</span>
                    </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="fa fa-anchor"></i>
                        <span class="link-title">&nbsp; Sony Xperia XZ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="fa fa-th-large"></i>
                        <span class="link-title">&nbsp; Xiaomi mi6</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="fa fa-pencil"></i>
                        <span class="link-title">&nbsp; Samsung Galaxy S8</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="fa fa-th"></i>
                        <span class="link-title">&nbsp; LG G6</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="fa fa-bar-chart"></i>
                        <span class="link-title">&nbsp; Huawei P10</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="link-title">&nbsp; OnePlus 3T</span>
                        </a>
                    </li>
                </ul>
                <!-- /#menu -->
            </div>
            <!-- /#left -->
            <div id="content" class="bg-container">
                <header class="head">
                    <div class="main-bar">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="m-t-5">
                                    <i class="fa fa-home"></i> Dashboard
                                </h4>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="outer">
                    <div class="inner bg-container">
                        <div class="row">
                            <div class="col-lg-9 col-12 m-t-25">
                                <div class="card">
                                    <ul id="clothing-nav" class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Statistics</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Stock Exchange</a>
                                        </li>
                                    </ul>
                                    <div class="card-block">
                                        <div id="clothing-nav-content" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
                                                <div id="area-chart" class="flotChart3"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
                                                <div class="form-group float-right">
                                                    <span class="live_switch">Live</span>
                                                    <input type="checkbox" id="toggle_real" name="my-checkbox" data-size="large" checked>
                                                </div>
                                                <div id="realtime" class="flotChart4 float-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 m-t-25 md_align_section">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        Xperia XZ
                                    </div>
                                    <div class="card-body">
                                        <div class="task-item">
                                            Procesador
                                            <span class="float-right text-muted progress-info">52%</span>
                                            <div id="progress-bar">
                                                <!--<progress class="progress progress-danger" value="52"-->
                                                <!--max="100"></progress>-->
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 52%" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Memoria RAM
                                            <span class="float-right text-muted progress-primary">80%</span>
                                            <div id="progress-bar1">
                                                <!--<progress class="progress progress-warning" value="80"-->
                                                <!--max="100"></progress>-->
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Memoria Interna
                                            <span class="float-right text-muted progress-warning">25%</span>
                                            <div id="progress-bar21">
                                                <!--<progress class="progress progress-success" value="25"-->
                                                <!--max="100"></progress>-->
                                                <div class="progress" id="progress-bar2">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Batería
                                            <span class="float-right text-muted progress-primary">93%</span>
                                            <div id="progress-bar5">
                                                <!--<progress class="progress progress-primary" value="93" max="100"></progress>-->
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Pantalla
                                            <span class="float-right text-muted progress-danger">50%</span>
                                            <div id="progress-bar3">
                                                <!--<progress class="progress progress-danger" value="50" max="100"></progress>-->
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Cámara
                                            <span class="float-right text-muted">40%</span>
                                            <div id="progress-bar4">
                                                <!--<progress class="progress progress-mint" value="40" max="100"></progress>-->
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.outer -->
                </div>
                <!-- /#content -->
            </div>
        </div>
    </div>
    <!-- /#wrap -->
    <!-- global scripts-->
    <script type="text/javascript" src="{% static 'js/components.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!-- global scripts end-->

    <script type="text/javascript" src="{% static 'vendors/raphael/js/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/d3/js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/c3/js/c3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/toastr/js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/switchery/js/switchery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotchart/js/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotchart/js/jquery.flot.resize.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotchart/js/jquery.flot.stack.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotchart/js/jquery.flot.time.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotspline/js/jquery.flot.spline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotchart/js/jquery.flot.categories.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flotchart/js/jquery.flot.pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jquery_newsTicker/js/newsTicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/countUp.js/js/countUp.min.js' %}"></script>

    <!--end of plugin scripts-->
    <script type="text/javascript" src="{% static 'js/pages/new_dashboard.js' %}"></script>

</body>

</html>